@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Poppins&family=Stylish&display=swap');
.prompt-container {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: 0 auto;
    margin-top: 100px;
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  .input-container {
    display: flex;
    gap: 10px;
    margin-top: 20px;
  }
  
  label {
    width: 50px;
    text-align: left;
    padding: 10px;
  }
  
  input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .history-container {
    margin-top: 20px;
  }
  
  h3 {
    color: #333;
    font-weight: 600;
    margin: unset;
    padding: 5px;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px;
    margin-top: 5px;
    background-color: #fff;
  }
/* PromptComponent.css */

/* PromptComponent.css */

.prompt-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 10px;
  margin: 10px 0;
  transition: transform 0.2s;
  cursor: pointer;
  position: relative; /* Ensure relative positioning */
  margin-top: -75px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.prompt-card:first-child{
  margin-top: 10px;
}
.prompt-card p{
  width: 80%;
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-family: 'Stylish', sans-serif;
  color: #333;
}

.prompt-title {
  display: flex;
  align-items: baseline;
  font-family: 'Poppins', sans-serif;
  font-family: 'Stylish', sans-serif;
}
.voting-buttons{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
}
.delete-button {
  background-color: whitesmoke;
  border: none;
  color: rgb(182, 99, 99);
  width: fit-content;
  border-radius: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  margin:4px 4px;
  transition: 0.2s;
}
.delete-button:hover{
  transform: scale(1.2);
}

.voting-button{
  border: none;
  color: rgb(99, 91, 91);
  width: fit-content;
  height: auto;
  text-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  background-color: white;
  margin:4px 4px;
  transition: 0.3s;
}
.voting-button:hover{
  color:#312828;
  transform: scale(1.2);
}
.read-more-link {
  position: relative;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
}

.read-more-link:hover {
  background-color: #0056b3;
}
